# Node
node_modules/
.pnp*
.npm/
yarn.lock
pnpm-lock.yaml
package-lock.json

# Env
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
.dist/
dist/
.build/
build/
coverage/

# Editor/OS
.DS_Store
*.swp
.idea/
.vscode/

# Docker
Dockerfile*
.docker/

# Test/coverage
coverage/
.cypress/

# Misc
.tmp/
